@media (min-width: 300px) {
  .container {
    section {
      padding: 40px;
      div {
        margin: 5px 30px;
      }
    }
  }
}

@media (min-width: 1000px) {
  .container {
    section {
      div {
        margin: 10px 200px;
      }
    }
  }
}

@media (min-width: 1500px) {
  .container {
    section {
      div {
        margin: 10px 200px;
      }
    }
  }
}
