@media (min-width: 300px) {
  .container {
    section {
      padding: 40px;
      h1 {
        font-size: 30px;
      }
      p {
        margin: 5px 30px;
      }
    }
  }
}

@media (min-width: 1000px) {
  .container {
    section {
      h1 {
        font-size: 36px;
      }
      p {
        margin: 10px 200px;
      }
    }
  }
}

@media (min-width: 1500px) {
  .container {
    section {
      h1 {
        font-size: 36px;
      }
      p {
        margin: 10px 200px;
      }
    }
  }
}
