.github {
  display: flex;
  flex-direction: row;
  width: fit-content;

  svg {
    width: 40px;
    margin-left: 10px;
  }
}

.technologies {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;

  div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    border-radius: 15px;
    width: 150px;
  }

  p {
    margin: 10px;
  }

  svg {
    width: 30px;
  }
}
