@media (min-width: 300px) {
  .hobbies {
    margin: 0px 40px;
    svg {
      width: 30px;
    }
    img {
      max-height: 300px;
      max-width: 300px;
      border-radius: 5px;
      margin: 10px;
    }
  }
}

@media (min-width: 1000px) {
  .hobbies {
    h2 {
      font-size: 30px;
    }
    svg {
      width: 40px;
    }
  }
}

@media (min-width: 1500px) {
  .hobbies {
    h2 {
      font-size: 36px;
    }
    svg {
      width: 60px;
    }
  }
}
