@media (min-width: 300px) {
  .hobbies {
    margin: 0px 40px;
    svg {
      width: 30px;
    }
    img {
      max-height: 200px;
      max-width: 200px;
      border-radius: 5px;
      margin: 10px;
    }
  }
}

@media (min-width: 1000px) {
  .hobbies {
    svg {
      width: 40px;
    }
  }
}

@media (min-width: 1500px) {
  .hobbies {
    svg {
      width: 60px;
    }
  }
}
