.container {
  a {
    display: flex;
    justify-content: center;
    svg {
      width: 40px;
      margin: 10px;
    }
  }
}

.technologies {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
  div {
    display: flex;
    justify-content: center;
    align-items: center;
    svg {
      width: 10px;
    }
  }
}
