.container {
  a {
    display: flex;
    justify-content: center;
    svg {
      width: 40px;
      margin: 10px;
    }
  }
}

.technologies {
  display: grid;
  div {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media (min-width: 300px) {
  .technologies {
    grid-template-columns: repeat(2, 1fr);
  }
  svg {
    width: 30px;
  }
}
