.container {
  a {
    display: flex;
    justify-content: center;
    svg {
      width: 40px;
      margin: 10px;
    }
  }
}

.technologies {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;

  div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
  }

  svg {
    width: 70px;
  }
}
