* {
  font-family: "Hubot Sans", serif;
  text-decoration: none;
}

h1,
h2 {
  font-family: "Zen Dots", serif;
  font-weight: bold;
}

@media (min-width: 300px) {
  h1 {
    font-size: 25px;
  }
  h2 {
    font-size: 15px;
  }
  h3 {
    font-size: 30px;
  }
  p {
    font-size: 11px;
  }
}

@media (min-width: 1000px) {
  h1 {
    font-size: 35px;
  }
  h2 {
    font-size: 25px;
  }
  h3 {
    font-size: 40px;
  }
  p {
    font-size: 19px;
  }
}

@media (min-width: 1500px) {
  h1 {
    font-size: 45px;
  }
  h2 {
    font-size: 35px;
  }
  h3 {
    font-size: 50px;
  }
  p {
    font-size: 25px;
  }
}
